body{
    font-size: 16px;
}

.navig{
    font-size: 18px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #282020;
}

#nameSite {
    color:red;
    font-size: 20px;
}

#home_item_nav {
    color: gold;

}