<html lang="ru">
<head>
    <meta charset="utf-8">
</head>
<body>

<div>
    <form method="post">
        <input type="text" name="nameStore"/>
        <input type="text" name="addressStore"/>
        <input type="submit" value="Отправить" />
    </form>
    <form method="post" action="filter">
        <input type="text" name="nameFilter"/>
        <input type="submit" value="Поиск"/>
    </form>
</div>

<div> Список сообщений</div>
{{#stores}}
    <b>{{idStore}}</b>
    <b>{{nameStore}}</b>
    <b>{{addressStore}}</b>
{{/stores}}
</body>
</html>